*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #fff;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
  }

.nav-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #333333;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.logo{
    width: 20vw;
    height: 80px;
}

.logo-div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./assets/ds-logo-new.png');
}

.nav-top form {
    display: flex;
    height: 30px;
}

.nav-top input {
    position: relative;
    width: 85%;
    min-width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 0px 35px 0px 5px;
    color: #dddddd;
    background: #555555;
    border: none;
    outline: none;
}

.nav-top button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-menu {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.main-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.main-menu {
    min-width: 0;
    position: relative;
    width: 20vw !important;
}

.nav-menu ul li {
    float: left;
    width: 15%;
    color: #FFFFFF;
    position: relative; 
    text-align: center; 
    padding-bottom: 20px;
}

.nav-menu li a { 
    font-family: "Lato"; 
    font-weight: 400; 
    font-size: 16px; 
    color: #FFFFFF; 
    line-height: 17px; 
    text-transform: uppercase; 
    text-decoration: none; 
}

.nav-menu div.sub-menu {
  display: none;
}
.nav-menu ul li:hover div.sub-menu {
  display: block;
  position: absolute;
  z-index: 20;
  left: -30px;
  top: 14px;
  padding-top: 20px;
}
.nav-menu ul li:hover div.sub-menu > ul:after {
	top: 5px;
  	left: 120px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #FFF;
	border-width: 10px;
	margin-left: -10px;
}
.nav-menu ul li:hover div.sub-menu > ul {
    border: 1px solid #e8e8e8;
    background: #fff;
    width: 185px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
}
.nav-menu ul li:hover div.sub-menu ul {
    float: none !important;
    padding-bottom: 8px;
}
.nav-menu ul li:hover div.sub-menu ul li {
    float: none !important;
    background: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.nav-menu ul li:hover div.sub-menu ul li a {
    font-size: 11px !important;
    display: block;
    padding: 5px 10px;
    color: #000000;
    font-family: "Lato";
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
}
.nav-menu ul li:hover div.sub-menu ul li a:hover {
    color: #f78f1e;
}



/* SPRITE ICONS */
.icon { background: url(assets/icon-sprite.png); background-repeat: no-repeat; float: left; }
.icon-search { background-position: 0 0px; width: 17px; height: 17px; }
.icon-basket { background-position: -25px 0; width: 17px; height: 17px; }
.icon-login { background-position: -50px 0; width: 17px; height: 17px; }
.icon-arrow-small-left { background-position: -75px 0; width: 5px; height: 7px; }
.icon-arrow-small-right { background-position: -95px 0; width: 5px; height: 7px; }
.icon-arrow-small-down { background-position: -84px 0; width: 7px; height: 5px; }
.icon-arrow-small-down-white { background-position: -125px -25px; width: 7px; height: 5px; }
.icon-arrow-large-left { background-position: -75px -11px; width: 11px; height: 14px; }
.icon-arrow-large-right { background-position: -89px -11px; width: 11px; height: 14px; }
.icon-rss { background-position: -100px 0; width: 12px; height: 12px; }
.icon-tag { background-position: -125px 0; width: 16px; height: 16px; }
.icon-menu { background-position: -100px -13px; width: 21px; height: 12px; }
.icon-pinterest { background-position: 0 -50px; width: 23px; height: 23px; }
.icon-instagram { background-position: -25px -50px; width: 23px; height: 23px; }
.icon-facebook { background-position: -75px -50px; width: 10px; height: 21px; }
.icon-twitter { background-position: -50px -50px; width: 21px; height: 19px; }

/* SOCIAL LINKS */
.social-links {
	position: fixed;
	left: 0;
	top: 30%;
	z-index: 200;
	background: #000000;
	width: 50px;
}
.social-links li {
	border-top: solid 1px #333333;
	float: left;
}
.social-links li:first-child {
	border: none;
}
.social-links li a {
	text-indent: -9999px;
	width: 50px;
	height: 49px;
	background-image: url(assets/icon-sprite.png);
	background-repeat: no-repeat; 
	float: left;
}
.social-links li a.facebook { background-position: -325px -45px; }
.social-links li a.twitter { background-position: -275px -45px; }
.social-links li a.instagram { background-position: -225px -45px; }
.social-links li a.pinterest { background-position: -175px -45px; }

.bg-image {
	opacity: 0.65;
	transition: opacity .25s ease-in-out;
    box-shadow: inset 0 0 10px #000000;
}

.bg-image:hover {
	opacity: 1;
}

.info {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.easter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 600px;
    box-shadow: inset 0 0 10px #000000;
}

.easter .bg-image {
    background-image: url(assets/eggs.jpeg);
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.threecolumn{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 615px;
    flex-wrap: wrap;

}

.colA {
    min-width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.rowA{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-image{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.evans{
    position: relative;
}
.evans .bg-image {
    background-image: url(assets/hero-feature-1.jpeg);
}

.ludwig{
    position: relative;
    height: 100%;
}
.ludwig .bg-image {
    background-image: url(assets/hero-feature-2.jpeg);
}

.vic{
    position: relative;
    height: 100%;
}
.vic .bg-image {
    background-image: url(assets/hero-feature-2-1.jpeg);
}

.zildjian{
    position: relative;
    height: 100%;
}
.zildjian .bg-image {
    background-image: url(assets/hero-feature-3.jpeg);
}
.twocolumn{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 615px;
    flex-wrap: wrap;
}

.colB {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowB{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog{
    position: relative;
    height: 100%;
}
.blog .bg-image {
    background-image: url(assets/hero-feature-4.jpeg);
}

.sell{
    position: relative;
    height: 100%;
}
.sell .bg-image {
    background-image: url(assets/hero-feature-6.jpeg);
}

.mapex{
    position: relative;
    height: 100%;
}
.mapex .bg-image {
    background-image: url(assets/hero-feature-5.jpeg);
}

.border1{
    padding: 20px 40px !important;
    text-align: center;
    border: solid 3px;
    border-radius: 5px;
    background: none;
    color: #fff;
    border-color: #f78f1e;
}

.hero h1 {
	font-size: 62px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Lato";
	letter-spacing: 0.1em;
	line-height: 66px;
}
.hero p {
	color: #FFFFFF;
	font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    pointer-events: none;

}

.hero h2 {
	font-size: 36px;
    text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Lato";
    margin-bottom: 5px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.hero h4 {
    color: #fff;
    border-color: #f78f1e;
    margin: 0 auto;
    padding: 12px 0;
    width: 160px;
    font-size: 18px;
    font-weight: 400;
}

.hero h4:hover {
    background: #f78f1e;
}

.gridposts {
    width: 100vw;
    height: 33.333vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.insta-box{
    width: 16.666%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logos {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: solid 1px #333333;
    margin-top: 30px;
}

footer{
    width: 95vw;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footA {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foot-info {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    width: 25%;
}

footer h5 {
    color: #FFFFFF;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.foot-newsletter{
    width: 30%;
}

.orange{
    color: #f78f1e;
}

.foot-form input{
    width: 100%;
    border: 1px solid #000000;
    padding: 6px 4px;
    border-radius: 2px;
    background: #333333;
    color: #999;
    font-family: Helvetica, Arial;
    font-size: 13px;
    margin-bottom: 10px;
}

.form-sep {
    display: flex;
    justify-content: space-between;
}

.form-sep input {
    width: 45%;
}

.foot-form button {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    background: #000000;
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    width: 105px;
    border: solid 3px #666;
    border-radius: 5px;
    color: #666;
    margin-bottom: 25px;
}

.copy {
    font-size: 10px;
    font-weight: 400;
}
/* responsive */

@media screen and (max-width: 850px){
    .threecolumn, .twocolumn{
        height: auto;
    }
    .colA, .colB{
        width: 100vw;
        height: 100vw;
    }
    .main-list{
        width: auto;
    }
    .main-menu{
        width: 33.33% !important;
    }
    .footA{
        width: 100%;
    }
    .foot-form{
        width: 75vw;
        justify-content: center;
    }
}